body {
  background-color: wheat;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: fit-content;
}

.nav_bar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25%;
  max-width: 250px;
  min-width: 205px;
  background-color: mediumaquamarine;
  border: 5px solid white;
}

.content {
  width: 100%;
  background-color: wheat;
}

.title {
  text-align: center;
  text-shadow: 1px 1px black;
  color: white;
  padding: 20px;
  border-bottom: 5px solid white;
  margin: 0px;
}